@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic&family=Jost:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:wght@300&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,800;1,900&family=Roboto:wght@100;300;500;700&family=Sofia+Sans:wght@300&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Jost', sans-serif;


}

header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10%;

}

header.sticky{
    background: #fff;
    padding: 20px 10%;
    box-shadow: 0 0 10px rgb(0 0 0 /10%);
}


.logo{
    width: 90px;
    height: auto;

}

.navmune{
    display: flex;
}

.navmune a{
    padding: 10px 20px;
    font-size: 16px;
    color: #2c2c2c;
    font-weight: 400;
    text-transform: capitalize;
    transition: all .42s ease;

}

.navmune a:hover{
    color: #C47;
}

.nav-icons{
    display: flex;
    align-items: center;

}

.nav-icons i{
    margin-right: 20px;
    font-weight: 400;
    font-size: 25px;
    color: #2c2c2c;
    transition: all .42s ease;

}

.nav-icons i:hover{
   transform: scale(1.1);
   color: #C47;
}


#menu-icon{
    font-size: 35px;
    color: #2c2c2c;
    z-index: 10001;
    cursor: pointer;


}

section{
    padding: 20% 10%
}

.main-home{
    width: 100%;
    height: 100vh;
    background: url(img/fly-d-TzEaOqvkZko-unsplash.jpg);
    background-position: center;
    background-size: cover;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    align-items: center;
}

.main-text h5{
    font-weight: 500;
    text-transform: capitalize;
    font-size: 16px;
    color: #C47;
}

.main-text h1{
    font-size: 65px;
    font-weight: 600;
    color: #2c2c2c;
    line-height: 1.1;
    margin: 6px 10px;
}

.main-text p{
    font-size: 20px;
    font-style: italic;
    margin-bottom: 20px;
    color: #464444;
}

.main-btn {
    display: inline-block;
    font-size: 16px ;
    font-weight: 500;
    border: 2px solid black;
    transition: all .42s ease;
    text-transform: capitalize;
    padding: 12px 25px;
   color: #111;

}

.main-btn:hover{
    background: #111;
    color: aliceblue;
}

.main-btn i{
    vertical-align: middle;
}

.down-arrow{
    position: absolute;
    top: 85%;
    left: 11%;
}

.down i{
    font-size: 30px;
    border: 2px solid #C47;;
    border-radius: 50px;
    padding: 12px 12px;
    color: #C47;
}

.down i:hover{
    background: #111;
    color: #fff;
    transition: all.42s ease;
}

.centr-text h2{
    color: #111;
    font-size: 28px;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 30px;
}

.products{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px,auto));
    gap: 2rem;
}

.row{
    position: relative;
    transition: all .40s ;
}

.row img{
    width: 100%;
    height: auto;
    transition: all .40s ;


}
.row img:hover{
    transform: scale(0.9);
}

.products-text{
    position: absolute;
    top: 13px;
    left: 13px;
    font-size: 12px;
    font-weight: 500;
    color: #fff;
    text-transform: uppercase;
    background: #27b737;
    padding: 3px 10px ;
    border-radius:2px ;


}

.heart-icon{
    position: absolute;
    right: 0;
    font-size: 20px;

}

.heart-icon:hover{
    color: rgb(212, 55, 55);
}

.ratting{
    color: rgb(249, 141, 18);
    font-size: 18px;
}

.price h4{
    color: #111;
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 400;

}

.price p{
    font-size: 14px;
    font-weight: 600;
    color: #111;
}

.client-reviews{
    background-color: #f3f4f6;

}

.client-text{
    text-align: center;
}

.client-text h3{
    color: #111;
    font-size: 25px;
    text-transform: capitalize;
    text-align: center;
    font-weight: 700;
}

.client-text img{
    width: 120px;
    height:auto;
    border-radius: 50%;
    margin: 10px 0;

}

.client-text p{
    color: #707070;
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    margin-bottom: 10px;
}

.client-text h2{
    font-size: 22px;
    color: #000;
    font-weight: 400;
    text-transform: capitalize;
    margin-bottom: 9px;

}

.up-center h2{
    text-align: center;
    color: #111;
    font-size: 25px;
    text-transform: capitalize;
    font-weight: 700;
    margin-bottom: 30px;

}

.cart  img{
    width: 380px;
    height: auto;
    border-radius: 5px;

}

.update-cart{
    display: grid;
    grid-template-columns:repeat(auto-fit,minmax(260px,auto));
    gap: 4rem;
  
}

.cart h5{
    color: #636872;
    font-size: 14px;
    text-transform: capitalize;
    font-weight: 500;

}

.cart a{
    color: #111;
    font-size: 18px;
    font-weight: 600;

}

.cart p{
    font-size: 15px;
    max-width: 350px;
    color: #707070;
    line-height: 25px;
    margin-bottom: 12px;

}

.contact{
    background-color:#f3f4f6 ;
}

.contact-info{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(160px,auto));
    gap: 3rem;
}

.first-info img{
    width: 80px;
    height: auto;
    padding-bottom: 20px;
}


.social-icon a{
    font-size: 24px;
    color: #535151;
    font-weight: 800;
}